<div class="adminContainer">

    <header class="innerContainer">
        <h1 class="centreText">Cart</h1>
    </header>

    <main class="innerContainer">
        <table class="u-full-width">
                        <thead>
                            <tr>
                                <th><strong>Name</strong></th>
                                <th><strong>Price</strong></th>
                                <th><stong>Quantity to Purchase</stong></th>
                            </tr>
                            <tr ng-repeat="product in Ctrl.products">
                                <td><a href="/#/view_product/{{product.productId}}">{{product.name}}</a></td>
                                <td>{{product.price}}</td>
                                <td>Quantity to Purchase Placeholder</td>
                                <td><a>Remove Item</a></td>
                            </tr>
                        </thead>
            
                    </table>
    
    
    
    
        <a href="/#/">Back to Products</a>
    </main>
</div>