<div class="container">
    <h1 class="centreText">
        Edit Product
    </h1>
    
    <form ng-submit="Ctrl.editProduct(name,description,price,category,quantity,status)">
        <article class="row">
            <section class="twelve columns">
                <label for="name">Name: {{Ctrl.product.name}}:</label>
                <input id="name" class="u-full-width" type="text" ng-model="name" placeholder="{{Ctrl.product.name}}">
            </section>
            <section class="twelve columns">
                <label for="description">{{Ctrl.product.description}}</label>
                <textarea id="description" class="u-full-width" ng-model="description" placeholder="{{Ctrl.product.description}}"></textarea>
            </section>
            <section class="twelve columns">
                <input type="text" ng-model="price" placeholder="{{property.price}}">
                <input type="text" ng-model="category" placeholder="category">
                <input type="text" ng-model="quantity" placeholder="quantity">
                <select ng-model="status">
                        <option value="" selected>Status</option>
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                </select>
                <button>Make </button>
            </section>
        </article>
    </form>

    <a href="/#/home">Home</a>  
<!-- end container -->
</div>